<!-- This is a static file -->
<!-- served from your routes in server.js -->

<!DOCTYPE html>
<html>

<head>
  <title>Quick CMS</title>
  <meta name="description" content="Rendering Airtable data in a web page" />
  <link id="favicon" rel="icon" href="https://glitch.com/favicon.ico" type="image/x-icon" />
  <meta charset="utf-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/uswds/2.6.0/css/uswds.min.css" />
  <link rel="stylesheet" href="/style.css" />
  <link rel="stylesheet" href="/reset.css" />
</head>

<body>
  <a class="usa-skipnav" href="#main-content">Skip to main content</a>
  <div class="usa-overlay"></div>
  <header class="usa-header usa-header--basic ">
    <div class="usa-nav-container maxw-widescreen">
      <div class="usa-navbar">
        <div class="usa-logo" id="basic-logo">
          <em class="usa-logo__text"><a href="/" title="Home" aria-label="Home">Neighbor Express</a></em>
        </div>
        <button class="usa-menu-btn">Menu</button>
      </div>
      <nav aria-label="Primary navigation" class="usa-nav">
        <button class="usa-nav__close">
          <img src="/assets/img/close.svg" alt="close" />
        </button>
        <ul class="usa-nav__primary usa-accordion">
          <li class="usa-nav__primary-item">
            <button class="usa-nav__link  usa-current" aria-expanded="false" aria-controls="basic-nav-section-one">
              <span>About</span>
            </button>
          </li>
          <li class="usa-nav__primary-item">
            <button class="usa-nav__link" aria-expanded="false" aria-controls="basic-nav-section-two">
              <span>Share</span>
            </button>
          </li>
          <li class="usa-nav__primary-item">
            <a class="usa-nav__link" href="javascript:void(0)"><span>Volunteer Link</span></a>
          </li>
          <li class="usa-nav__primary-item">
            <a class="usa-nav__link" href="javascript:void(0)"><span>Sign Up to Volunteer</span></a>
          </li>
        </ul>
        <button class="usa-button" type="submit">
          Request a Delivery, Meal, or Helping Hand
        </button>
      </nav>
    </div>
  </header>

  <main id="main-content">
    <section class="usa-hero" aria-label="Introduction" id="header">
      <div class="grid-container">
        <div class="usa-hero__callout">
          <h1 class="usa-hero__heading">
            <span class="usa-hero__heading--alt" id="header_title">Free, safe deliveries from one neighbor to
              another</span>
          </h1>
          <p id="header_body">
            Take care of our community members most vulnerable to COVID-19
          </p>
          <a class="usa-button" href="javascript:void(0)">Sign Up to Volunteer</a>
        </div>
      </div>
    </section>

    <section class="grid-container usa-section" id="front_page">
      <div class="grid-row grid-gap">
        <div class="tablet:grid-col-4">
          <h2 class="font-heading-xl margin-top-0 tablet:margin-bottom-0" id="front_page_title">
            The headline is GRAND
          </h2>
        </div>
        <div class="tablet:grid-col-8 usa-prose" id="front_page_body">
          <p>
            There is a flash here, that can easily be fixed by making these
            shadow elements until the data is fetched from the CMS.
          </p>
        </div>
      </div>
    </section>

    <section class="usa-graphic-list usa-section usa-section--dark">
      <div class="grid-container">
        <div class="usa-graphic-list__row grid-row grid-gap">
          <div class="usa-media-block tablet:grid-col" id="example_1">
            <img class="usa-media-block__img height-card"
              src="https://generative-placeholders.glitch.me/image?width=124&height=124&style=tiles" alt="Alt text"
              id="example_1_picture" />
            <div class="usa-media-block__body">
              <h2 class="usa-graphic-list__heading" id="example_1_title">
                Graphic headings can vary.
              </h2>
              <p id="example_1_body">
                Graphic headings can be used a few different ways, depending
                on what your landing page is for. Highlight your values,
                specific program areas, or results.
              </p>
            </div>
          </div>
          <div class="usa-media-block tablet:grid-col" id="example_2">
            <img class="usa-media-block__img height-card"
              src="https://generative-placeholders.glitch.me/image?width=124&height=124&style=tiles" alt="Alt text"
              id="example_2_picture" />
            <div class="usa-media-block__body">
              <h2 class="usa-graphic-list__heading" id="example_2_title">
                Graphic headings can vary.
              </h2>
              <p id="example_2_body">
                Graphic headings can be used a few different ways, depending
                on what your landing page is for. Highlight your values,
                specific program areas, or results.
              </p>
            </div>
          </div>
        </div>
        <div class="usa-graphic-list__row grid-row grid-gap">
          <div class="usa-media-block tablet:grid-col" id="example_3">
            <img class="usa-media-block__img height-card"
              src="https://generative-placeholders.glitch.me/image?width=124&height=124&style=tiles" alt="Alt text"
              id="example_3_picture" />
            <div class="usa-media-block__body">
              <h2 class="usa-graphic-list__heading" id="example_3_title">
                Graphic headings can vary.
              </h2>
              <p id="example_3_body">
                Graphic headings can be used a few different ways, depending
                on what your landing page is for. Highlight your values,
                specific program areas, or results.
              </p>
            </div>
          </div>
          <div class="usa-media-block tablet:grid-col" id="example_4">
            <img class="usa-media-block__img height-card"
              src="https://generative-placeholders.glitch.me/image?width=124&height=124&style=tiles" alt="Alt text"
              id="example_4_picture" />
            <div class="usa-media-block__body">
              <h2 class="usa-graphic-list__heading" id="example_4_title">
                Graphic headings can vary.
              </h2>
              <p id="example_4_body">
                Graphic headings can be used a few different ways, depending
                on what your landing page is for. Highlight your values,
                specific program areas, or results.
              </p>
            </div>
          </div>
        </div>
      </div>
    </section>

    <section id="test-section-id" class="usa-section">
      <div class="grid-container">
        <h2 class="font-heading-xl margin-y-0">Submit a Form</h2>
        <p class="usa-intro">
          This is a very simple example of submitting a form through this
          project, would obviously need to backup validation, etc, but this is
          the basics.
        </p>
        <form id="name_form" class="usa-form">
          <fieldset class="usa-fieldset">
            <legend class="usa-legend">Name</legend>
            <label class="usa-label" for="title">Title <span class="usa-hint">(optional)</span></label>
            <input class="usa-input usa-input--small" id="title" name="title" type="text" />

            <label class="usa-label" for="firstName">First name</label>
            <input class="usa-input" id="firstName" name="firstName" type="text" required aria-required="true" />

            <label class="usa-label" for="middleName">Middle name <span class="usa-hint">(optional)</span></label>
            <input class="usa-input" id="middleName" name="middleName" type="text" />

            <label class="usa-label" for="lastName">Last name</label>
            <input class="usa-input" id="lastName" name="lastName" type="text" required aria-required="true" />
          </fieldset>
          <input class="usa-button" id="name_submit" type="submit" value="Submit">
        </form>
      </div>
    </section>
  </main>
  <main id="data-container">
    Loading...
  </main>

  <!-- Your web-app is https, so your scripts need to be too -->
  <script src="https://code.jquery.com/jquery-2.2.1.min.js"
    integrity="sha256-gvQgAFzTH6trSrAWoH1iPo9Xc96QxSZ3feW6kem+O00=" crossorigin="anonymous"></script>
  <script src="/client.js"></script>
</body>

</html>