.image {
	background-image: `url(${el.image})`;
	background-size: cover;
	background-clip: content-box;
	text-decoration: none;
}

.overlay {
	height: 100%;
	width: 100%;
	color: white;
  background-image: linear-gradient(rgba(0,0,0,0), rgba(0,0,0,0.75));
}